
body{
    margin: 0;
    width: 100%;
    text-transform: capitalize;
}
.center{
    text-align: center;
}
nav{
background-color: brown;
padding: 10px 0px;
position: fixed;
top: 0px;
margin: 0px;
width: 100%;
}
nav ul{
    margin: 0;
    text-align: center;
}
nav ul li{
display: inline-block;
margin: 0 4%;
}
nav ul li a{
    color: cornsilk;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}


/*********************************************/
.content{
    margin-top: 44px;
}

.header{
    background-color: cornsilk;
    padding: 200px 30px;
    width: 100%;
    text-align: center;
}
.header h1{
    text-transform: uppercase;
}
.header p {
    font-size: 24px;
    font-weight: bold;
    color: brown;
    text-transform: capitalize;
}
table{
    text-transform: capitalize;
}



/* frame */
.subject-video{
    width: 100%;
text-align: center;
background-color: #eee;
/* padding: 30px; */
margin-bottom: 5%;
}
.subject-video h1{
    margin-bottom: 50px;
}

.subject-video iframe{
    width: 85%;
    height: 46vw;
}
.rev {
    width: 99%;
    margin: 20px 0px;
    text-align: center;
}
.rev .record{
    width: 100%;
    height: 60px;
}
.rev .pdf{
    width: 100%;
    height: 90vw;
}

.content{
    margin-top: 44px;
}

.btns{
    text-align: center;
    /* padding: 10px; */
    background-color: brown;

}
.btn{
    margin: 15px 2%;
    border: none;
    padding: 9px 10px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
}
@media(max-width:610px){
.btn{
    font-size: 10px;
    padding: 6px 8px;
    margin: 12px 1%;
}
}
.btn:hover{
    cursor: pointer;
    border: brown 1px solid;
}