
body{
    margin: 0;
}

nav{
background-color: brown;
padding: 10px 0px;
}
nav ul{
    margin: 0;
    text-align: center;
}
nav ul li{
display: inline-block;
margin: 0 10%;
}
nav ul li a{
    color: cornsilk;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}


/*********************************************/


.header{
    background-color: cornsilk;
    padding: 200px 30px;
    text-align: center;
}
.header h1{
    text-transform: uppercase;
}
.header p {
    font-size: 24px;
    font-weight: bold;
    color: brown;
    text-transform: capitalize;
}
table{
    text-transform: capitalize;
}



/* frame */
.subject-video{
text-align: center;
background-color: #eee;
padding: 30px;
margin-bottom: 5%;
}
.subject-video h1{
    text-decoration: wavy;
    margin-bottom: 50px;
}

iframe{
    width: 85%;
    height: 46vw;
}
