body {
  margin: 0;
  width: 100%;
  text-transform: capitalize;
}
.center {
  text-align: center;
  padding: 20px;
}
/* nav*******************/
nav {
  background-color: brown;
  padding: 4px 0px;
  margin: 0px;
  width: 100%;
}
.fixed {
  position: fixed;
  top: 0px;
}
nav ul {
  margin: 0;
  padding-left: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  /* margin: 0 4%; */
  background-color: rgba(222, 200, 200, 0.05);
  padding: 10px 6.4%;
  border-radius: 5px;
}
nav ul li a {
  color: #fff8dc;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}
nav ul li:hover {
  text-decoration: none;
  background-color: rgba(222, 200, 200, 0.55);
}

/*********************************************/
/* header*************************************/
.header {
  margin-top: 40px;
  background: linear-gradient(
    0deg,
    rgb(226, 124, 124),
    #fff8dc,
    #fff8dc,
    rgb(226, 124, 124)
  );
  padding: 40vh 0px 38vh 0px;
  width: 100%;
  text-align: center;
}
.header h1 {
  text-transform: uppercase;
  font-size: 2.9rem;
  padding: 0 10px;
}
.header p {
  padding: 0px 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: brown;
  text-transform: capitalize;
}
.header span {
  font-size: 1.2rem;
}
table {
  text-transform: capitalize;
}

/* frame */
.subject-video {
  width: 100%;
  text-align: center;
  background-color: #eee;
  /* padding: 30px; */
  margin-bottom: 5%;
  padding: 40px 0px;
}
.subject-video h1 {
  margin-bottom: 4%;
}

.subject-video iframe {
  width: 85%;
  height: 46vw;
}
.rev {
  width: 99%;
  margin: 20px 0px;
  text-align: center;
}
.rev .record {
  width: 100%;
  height: 60px;
}
.rev .pdf {
  width: 100%;
  height: 99vh;
}

.content {
  padding: 2% 0;
}

.btns {
  text-align: center;
  /* padding: 10px; */
  background-color: #065186;
  margin-bottom: -10px;
  z-index: 10 !important;
}
.scroll {
  display: block;
  width: 20vw;
  text-align: center;
  background: #065186;
  padding: 30px 20px;
  color: #fff;
  margin: -6vh 0 40px 35vw;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: -2 !important;
}
.scroll:hover {
  background: #1368a5;
}
.btn {
  text-transform: capitalize;

  color: #444;
  margin: 15px 2%;
  border: none;
  padding: 9px 10px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ddd !important;
}

@media (max-width: 610px) {
  .scroll {
    width: 20vw;
    padding: 30px 20px 15px;
    margin: -7vh 0 20px 36vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    font-size: 13px;
  }
  .btn {
    font-size: 11px;
    padding: 4px 7px;
    margin: 12px 1%;
  }
  .subject-video h1 {
    margin-bottom: 10%;
    font-size: 30px;
  }
  .subject-video iframe {
    width: 100%;
    height: 58vw;
  }
  .header {
    margin-top: 48px;
    padding: 32vh 0px 33vh 0px;
  }
}

@media (max-width: 730px) {
  .header {
    margin-top: 48px;
    padding: 42vh 0px 41vh 0px !important;
  }
  .btn {
    font-size: 11px;
    padding: 1.6vw 2vw;
    margin: 12px 1%;
  }
}

.btn:hover {
  cursor: pointer;
  background-color: #fff !important;
  color: #000;
}

.sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 94vh;
  margin-top: 0;
}

footer {
  margin-top: 50px;
  background-color: #000;
  padding: 20px;
  color: cornsilk;
  text-align: center;
}
footer p {
  margin: 0;
}
.footer {
  display: none;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}
.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

h1 {
  font-size: 2.4rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #333;
}
.h2,
h2 {
  font-size: 2rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.h4,
h4 {
  font-size: 1.5rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
