.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  @-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-2vh);
      transform: translateY(-2vh);
    }
    60% {
      -moz-transform: translateY(-1.5vh);
      transform: translateY(-1.5vh);
    }
  }
  @-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-2vh);
      transform: translateY(-2vh);
    }
    60% {
      -webkit-transform: translateY(-1.5vh);
      transform: translateY(-1.5vh);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-2vh);
      -ms-transform: translateY(-2vh);
      -webkit-transform: translateY(-2vh);
      transform: translateY(-2vh);
    }
    60% {
      -moz-transform: translateY(-1.5vh);
      -ms-transform: translateY(-1.5vh);
      -webkit-transform: translateY(-1.5vh);
      transform: translateY(-1.5vh);
    }
  }